.p0{
  padding: 0!important;
}
.m0{
  margin: 0!important;
}
.p5{
  padding: 5px!important;
}
.pt0{
  padding-top: 0!important;
}
.pr0{
  padding-right: 0!important;
}
.pl0{
  padding-left: 0!important;
}
.pt5{
  padding-top: 5px!important;
}
.mb15{
  margin-bottom: 15px!important;
}
.pt15{
  padding-top: 15px!important;
}
.pbtn0{
  padding: 1px 8px!important;
}
.db{
  display: block!important;
}
.mt15{
  margin-top: 15px!important;
}
.mb0{
  margin-bottom: 0!important;
}
.mr15{
  margin-right: 15px;
}
.mr0{
  margin-right: 0px;
}
.mr5{
  margin-right: 5px;
}
.w50{
  width: 50%;
}
.w25{
  width: 25%;
}
.uc{
  text-transform: uppercase;
}
.right{
  float: right
}
.fix-iconfa-sidebar{
  font-size: 20px;
  position: relative;
  top: 6px;
}
.input-group *{
  border-radius: none!important;
}
.dataTables_empty{
  text-align: center;
}
tr.post-success td{
  background: #e1fcdc!important;
}
tr.post-processing td{
  background: #c5d3ff!important;
}
tr.post-error td{
  background: #fdf1f2!important;
}
select{
  height: 34px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ddd!important;
  display: inline-block;
}
.open_iframe{
  margin-top: 20px;
  margin-bottom: 0!important;
}
.open_iframe iframe{
  width: 100%;
  border: 1px solid #eee;
}
.dialogelfinder *{
  border-radius: 0px!important;
}
.form-control{
  border-radius: 0!important;
  box-shadow: none!important;
  outline: none!important;
  border: 1px solid #ddd;
}

.form-control:focus{
  border: 1px solid #ddd;
}
.input-group .form-control{
  background: transparent;
}
.form-line .form-control{
  border: none;
}
.input-group .form-line{
  display: block;
  height: 34px;
}
.wa{
  width: auto!important;
}
.dropdown-menu{
  max-height: 300px!important;
}
.dataTables_filter{
  position: absolute;
  top: -46px;
  right: 15px;
}
.formSchedule .dataTables_filter{
  position: absolute;
  top: -46px;
  right: 30px;
}
.table.dataTable{
  border: none!important;
}
.dataTables_wrapper .col-sm-6,.dataTables_wrapper .col-sm-12{
  margin-bottom: 0!important
}
.dataTables_wrapper>.row:nth-child(3){
  display: none;
}
.js-dataTable{
  margin-top: 0!important;
}

.ScheduleList .dataTables_wrapper{
  padding-top: 15px;
}
.ScheduleList .dataTables_wrapper>.row:nth-child(3){
  display: block;
}
.ScheduleList table.table-bordered.dataTable{
  border-bottom: 1px solid #ddd!important;
  border-top: 1px solid #ddd!important;
  margin-bottom: 20px!important;
}
.ScheduleList .dataTables_filter, .ScheduleList .dataTables_paginate {
  position: relative;
  top: 0;
  right: 15px;
}
.ScheduleList .dataTables_length, .ScheduleList .dataTables_info{
  position: relative;
  top: 0;
  left: 15px;
}


.custom-card{
  border: 1px solid #ddd;
  border-left: 3px solid #F44336;
}
.box-post-schedule{
  display: none;
}
.post-preview{
  padding: 10px;
}
.box-hide{
  display: none;
}
.form-manage-groups{
  margin-right: 240px;
}
.post-preview .preview-header img{
  width: 45px;
  float: left;
  border: 1px solid #ddd;
}
.post-preview .preview-header .box-info{
  float: left;
  margin-left: 7px;
}
.post-preview .preview-header .box-info .title{
  font-weight: bold;
}
.post-preview .preview-header .box-info .desc{
  color: #e3e3e3;
}
.post-preview .preview-content{
  margin-top: 15px;
}
.post-preview .preview-content .line-no-text {
    margin-bottom: 3px;
    height: 13px;
    background: #eee;
}
.post-preview .preview-content .wrap-preview * {
    word-break: break-all;
}
.post-preview .preview-content .box-preview-link{
  border: 1px solid #ddd
}
.post-preview .preview-content .preview-box-image,
.post-preview .preview-content .preview-box-video{
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.post-preview .preview-content .preview-footer-link{
  padding: 10px;
}
.post-preview .preview-content .preview-box-caption{
  margin-top: 10px;
  display: block;
}
.post-preview .preview-content .box-preview-link{
  margin-top: 15px;
}
.post-preview .preview-content .preview-box-video{
    width: 100%;
    background-image: url(../images/bnt-play.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: inherit;
}
.message-preview{
  width: 262px;
  height: 336px;
  margin: auto;
  position: relative;
  background-image: url(../images/fb_message.png);
}

.box-message-preview{
  position: absolute;
  right: 10px;
  bottom: 70px;
}

.preview-text,.preview-link{
  background: #000;
  max-width: 210px;
  min-width: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  word-break: break-all;
  border-radius: 10px 2px 10px 10px;
  background-color: #f1f0f0;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  display: none;
}

.preview-text img{
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
}

.data-message img{
  width: 20px;
}

.list-type-search .item{
  text-align: center;
  border: 1px solid #eee;
  padding: 15px;
  margin-top: 20px;
}

.list-type-search .item.active{
  background: #eee;
}

.list-type-search .item .icon{
  font-size: 50px;
}

.list-type-search .item .title{
  font-size: 20px;
}

.list-filter-search{
  background: #eee;
  padding: 15px 0 0;
  border: 1px solid #eee;
}

.formFacebookSearch .dataTables_wrapper{
  margin-top: 60px;
  border-top: 1px solid #eee;
}

.formFacebookSearch .dataTables_wrapper .table{
  margin-top: 0;
}

.formFacebookSearch .dataTables_wrapper .dt-buttons {
  position: absolute;
  top: -41px;
  left: 15px;
}

/*Analytics*/
text[style='cursor:pointer;color:#909090;font-size:9px;fill:#909090;']{
  display: none;
}

.loading-analytics{
  text-align: center;
  width: 100%;
}

.analytics-page .user-block .img-circle{
  width: 40px;
  margin-right: 10px;
}

.analytics-page .user-block .username{
  font-weight: bold;
  font-size: 16px;
}

.analytics-page .description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.analytics-page .description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: #F44336;
}

.analytics-page .widget-user .widget-user-image {
    position: absolute;
    top: 209px;
    left: 50%;
    margin-left: -45px;
}

.analytics-page .widget-user .widget-user-image > img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}

.analytics-page .widget-user .box-footer {
    padding-top: 30px;
}

.analytics-page .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.analytics-page .widget-user .widget-user-desc {
    margin-top: 0;
}

.analytics-page .widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.invoice_table,.invoice_coupon{
  margin: auto;
  border: 1px solid #8B2;
  margin-bottom: 15px;
  border-radius: 5px;
}
.invoice_table table{
  margin-bottom: 0;
}
.invoice_table table .invoice_warning{
  background-color: #fcf8e3;
  color: #000;
}
.invoice_table table .invoice_success{
  background-color: #dff0d8;
}
.invoice_table table .invoice_recurring{
  background-color: #d9edf7;
  color: #000;
}
.invoice_coupon .invoice_title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.invoice_coupon .invoice_content{
  padding: 15px;
}
.invoice_coupon .invoice_content input{
  border-radius: 5px!important;
}
.head-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 20px;
}

.head-title .name {
    font-size: 16px;
    color: #F44336;
    font-weight: bold;
    text-transform: uppercase;
}

.foot-title {
    text-align: right;
    margin-bottom: 40px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #eee;
    border-bottom: 3px solid #eee;
}

.foot-title span {
    font-size: 25px;
    color: #d73925;
}

.box-login{
  text-align: center;
  width: 400px;
  margin: 100px auto 0;
}
.box-login .copyright{
  padding-top: 5px;
}

.login-form{
  width: 400px;
  background: #fff;
  margin: 100px auto 0;
  padding: 0 0 30px;
  border-radius: 6px;
}
.login-form form{
  padding: 30px 30px 0;
}
.login-form .login-nav{
  margin-bottom: 30px;
  list-style: none;
  padding: 0px;
}
.login-form .login-nav li{
  width: 50%;
  text-align: center;
  float: left;
}
.login-form .login-nav li.left{
  border-radius: 6px 0 0 0;
}
.login-form .login-nav li.right{
  border-radius: 0 6px 0 0;
}
.login-form .login-nav li a{
  display: inline-block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.login-form .login-nav li.active{
  background: #fff!important;
}
.login-form .login-nav li.active a{
  color: #000;
}

/*Pricing*/
.pricing-table{
  background: #fff;
  padding: 100px 0 70px;
  text-align: center;
}

.pricing-table .title{
  font-size: 40px;
  color: #666;
  font-weight: bold;
  padding-bottom: 20px;
}

.pricing-table .title span{
  background: #8B2;
  display: inline-block;
  padding: 0px 4px;
  color: #fff;
  line-height: 40px;
}

.pricing-table a{
  font-size: 18px;
  color: white;
  text-decoration: none;

}

.pricing-table ul{
  list-style: none;
  font-size: 15px;
  color: #666;
  padding: 0px;
  margin: 0px;
}
.pricing-table li{
  border-bottom: 1px solid #8B2;
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 52px;
  line-height: 52px;
}

.pricing-table .whole{
  display: inline-block;
  margin: 15px 15px;
  border: 1px solid #8B2;
}
.pricing-table .type{
  width: 300px;
  border-radius: 5px 5px 0px 0px;
  height: 62px;
  border-bottom: 1px solid #8B2;

}
.pricing-table .type p{
  font-weight: 800;
  font-size: 29px;
  text-transform: uppercase;
  color: #8B2;
  text-align: center;
  padding-top: 10px;
}
.pricing-table .plan{
  width: 300px;
  border-radius: 0px 0px 5px 5px;
  font-style:condensed;
  font-size: 80px;
  color: #666;
  text-align: center;
}
.pricing-table .header{
  position: relative;
  border-bottom: 1px solid #8B2;
}
.pricing-table .header sup{
  font-size: 50%;
  position: relative;
  top: -30px;
}
.pricing-table .header span{
  font-size: 32px;
}
.pricing-table .month{
  font-size: 14px;
  color: #666;
  padding: 0px;
  position: absolute;
  top: 64px;
  left: 179px;
  text-transform: uppercase;
}
.pricing-table .price{
  padding: 15px;
  font-size: 14px;
}
.pricing-table .price a{
  font-weight: bold;
  font-size: 20px!important;
}
.pricing-table .price a:hover{
  color: #fff;
}

.pricing-table .cart{

  color:white;
  position: relative;
  top: 16px;
}
.list-images{
  list-style: none;
}

.list-images .icon-remove{
  font-size: 30px;
  color: #ab3030;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: none;
  cursor: pointer;
}

.list-images li:hover .icon-remove{
  display: block;
}

.list-images li{
  margin-bottom: 10px;
  margin-right: 5px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.nav.post_tab_feature > li > a {
    position: relative;
    display: block;
    padding: 9px 7px;
}
.nav-tabs.post_tab_feature > li > a .material-icons {
    position: relative;
    top: 3px;
    margin-bottom: 8px;
    font-size: 19px;
}
.filter_account{
  max-width: 150px;
}
.footer{
  border-top: 1px solid #8B2;
  color: #666;
  padding: 10px;
  background: #fff;
}

.footer .coptright{
  line-height: 40px;
}

.footer .social {
    padding-top: 8px;
}

.footer .social .social-icons {
    height: 20px;
    margin-bottom: 10px;
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

/*HOME PAGE*/
.top-menu{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.homepage *{
  font-family: 'Open Sans', sans-serif;
}

.homepage .title{
  font-size: 23px;
  font-weight: bold!important;
  text-transform: uppercase;
  font-weight: 100;
}

.homepage .description{
  font-weight: 100;
  margin-top: 30px;
  font-size: 16px;
}

#hero{
    color: #666;
    text-align: center;
    background: url(../images/background.svg)no-repeat; /*your background image*/
    max-height: 880px;
    overflow: hidden;
}

.herocontent{
    padding-top: 100px;
    width: 100%;
    max-width: 1000px;
}
.heroshot{
    margin-top: 20px;
    width: 100%;
    max-width: 980px;

}

#services{text-align: center; background: #fff;}

.sectionhead{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services .item{
    margin-bottom: 30px;
}

#services .more{
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-bottom: 50px;
}


hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon{
    margin-right: 10px;
}

.clientsphoto img {
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.modal .modal-header {
    border: none;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding: 20px 25px 20px 25px;
}

.modal .btn{
  text-transform: uppercase;
}

.login-social fieldset {
    text-align: center;
    border-top: 1px solid #8B2;
}
.login-social fieldset legend{
  width: auto;
  color: #8B2;
  font-size: 16px;
  border-bottom: none;
}

.login-social fieldset legend span{
  display: inline-block;
  padding: 0 5px;
}

.login-social .list-social{
  text-align: center;
}

.login-social .list-social a{
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #eee;
}

.config-timezone{
  margin: 100px 0px;
}

.header-dropdown{
	line-height: 50px;
	padding: 0 15px;
}

.header-dropdown>a{
	color: #fff;
}

@media screen and ( max-width: 720px ) {
  .li-register a{
    position: relative;
    top: -10px;
  }

  .form-manage-groups{
    margin-right: 0px;
  }
}

@media (min-width: 768px){
  .modal-login.modal-dialog {
      width: 400px!important;
  }
}
